@font-face /* Police et couleur de la page */
{
    font-family:"Raleway";
    src:url("Police Raleway/Raleway-Regular.ttf") format("truetype");
}
header  /* Header du site avec le logo et la Navigation + Le titre principal et le bouton de Recherche et la Navigation Filtre */
{
    margin-left:56px;
    margin-right:84px;
}

header a:hover /* Pour qu'au survol les liens du header <a> soit en couleur bleu ciel. */
{
    color:#0065FC;
}

body  /* Police du site */
{
    font-family:"Raleway";
    width:1583px;
    height:2060px;
}

#Reservia  /* Logo */
{
    margin-top:56px;
    margin-bottom:41px;
    height:2.9rem;
}
.NavEtLogo /* Pour que la navigation soit espacé */
{
    display:flex;
    justify-content:space-between;
}
nav
{
    display:flex;
}
nav li  /* Pour que la navigation soit aligné sur la meme ligne et non pas en liste et une marge */
{
    float:left;
    margin-top:56px;
    margin-right:75px;
    list-style:none;
} 
li:last-child  /* Pour que le " s'inscrire " de navigation n'aie aucune marge */
{
    margin-right:0px;
}

.navigation /* Menu navigation " activités " et " Hébergement " sans surlignement et en couleur noir et non rouge bordeaux comme par défaut"  */
{
    margin-right:75px;
    margin-top:0px;
    text-decoration:none;
}
.blue /* Pour que " s'inscrire " de la navigation soit de couleur bleu ciel et sans soulignement */
{
    text-decoration:none;
    margin-top:56px;
    color:black;
}
.decoration1 /* Pour que " activité " de  navigation soit de couleur noir et non rouge bordeaux comme par défaut et sans soulignement */
{
    text-decoration:none;
    color:black;
}
.decoration2 /* Pour que "Hébergement" de navigation soit de couleur noir et non rouge bordeaux comme par défaut et sans soulignement + la bande en bleu */
{
    text-decoration:none;
    border-top:3px solid #F2F2F2;
    padding:0px;
    padding-top:55px;
    color:black;
}
.decoration3 /* Pour que les filtres ne soit pas soulignés et en couleur noir en gras et non en rouge bordeaux par défaut. */
{
    text-decoration:none;
    font-weight:bold;
    color:black;
}

.italic1
{
    font-style:italic; /* Ecriture en italique:"En plein centre ville ou en pleine nature  */ /* Ecriture en italique "Plus de 500 logements sont disponibles dans cette ville" en italique" */
}
.italic2
{
    font-style:italic; /* Ecriture en italique:"En plein centre ville ou en pleine nature  */ /* Ecriture en italique "Plus de 500 logements sont disponibles dans cette ville" en italique" */
    width:450px;
    height:20px;
}
.IconLocalisation /* Icon localisation contenue*/
{
    display:inline-flex;
    width:30rem;
    height:50px;
    overflow:auto;
    margin-bottom:20px;
}
.IconLocalisation i /* Cercle Icon localisation */
{
    border:1px solid #F2F2F2 ;
    background-color:#F2F2F2;
    border-width:18px;
    border-radius:15px 0px 0px 15px;
    overflow:hidden;
}
#site-search /* Barre de rechercher "   */
{
    font-weight:bold;
    overflow:hidden;
    padding:1.2rem;
}
.BoutonRechercher /* Contenue du bouton " Rechercher"  */
{
    background-color:#0065FC;
    color:white;
    font-weight:bold;
    border:none;
    border-radius:0 0.7rem 0.7rem 0;
    cursor:pointer;
}

.Filtres /* Filtre balise Ul Alignemement des différents filtres avec Flex cote à cote et mise en Gras.*/ 
{
    display:flex;
    list-style:none;
    align-items:center;
    padding-left:0px;
    font-weight:bold;
    margin-bottom:30.5px;
}
.filtre_li /* Marge à droite de la liste à puce Filtre -Li */ 
{
    padding-right:40px;
    font-weight:bold;
}

.filtre_li-Economiques, .filtre_li-Familial, .filtre_li-Romantique, .filtre_li-AnimauxAutorises /* Bordure Filtres: Economique, Familial, Romantique ...*/ 
{
    border:11px solid #F2F2F2;
    border-width:2px 2px 2px 0px;
    border-radius:25px 25px 25px 25px;
    margin-right:28px;
    padding:0px 25px 0px 0;
    overflow:hidden;
}

.filtre_li-Economiques i, .filtre_li-Familial i, .filtre_li-Romantique i, .filtre_li-AnimauxAutorises i /* Bordure Icon Filtres: Economique, Familial, Romantique ...*/ 
{
    border:1rem solid #d6e7FF;
    border-radius:100%;
    color:#0065FC;
    background-color:#d6e7FF;
    margin-right:10px;
}

.fas.fa-star /* Couleur grise pour les étoiles vides */
{
    color:#d1d1d2;
}

.fas.fa-star.active /* Couleur bleu ciel pour étoiles pleines */
{
    color: #0065FC;
}
.MargeStar /*  Marge des étoiles dans l'aside " Les plus populaires "  */
{
    margin-top:50px;
}

.bold2 /*  Tous les titres des figures de la session " Activité à Marseille" en Gras */
{
    font-weight:bold; 
    margin-left:25px;
}

.bold1 /*  Tous les titres des figures de la session " Hébergement à Marseille" en Gras */
{
    font-weight:bold;
}

.IconInformation /* Icon Information contenue */
{
    display:flex;
    align-items:center;
    color:#0065FC;
    background-color: white;
}
.IconInformation i   /* Cercle Icon Information */
{
    border:2px solid #f2f2f2;
    border-radius:100%;
    margin-right:15px;
    width:19px;
    text-align:center;
}

#BlocHebergementEtPopulaireEtActivite .content img  /* Image hébergement à Marseille */ 
{
    width:277px;
    height:128px;
}
#BlocHebergementEtPopulaireEtActivite  /* Main */ 
{
    margin:30px 56px 65px;
    border-radius:35px 35px 35px 35px;
}
#BlocHebergementEtPopulaireEtActivite a   /* Pour enlever le surlignement et la couleur par défaut des liens des cartes Hébergement à Marseille */ 
{
    text-decoration:none;
    color:black;
}
#BlocHebergementEtPopulaireEtActivite .content    /* Div pour mettre le titre " Hébergement à Marseille " dans la Section " hébergement à Marseille sans Flex. 
                                    Et pour mettre en Flex les figures et les images de la Section " Hébergement à Marseille */ 
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    background-color: #F2F2F2;
    border-radius:35px 35px 35px 35px;
}
.BlocHergementetPopulaire   /* Section Hébergement + Les plus populaires pour les mettres en Flex  */ 
{
    display:flex;
    margin-bottom:74px;
}
#HebergementaMarseille    /* Div Hébergement à Marseille et Id : Lien section page */
{
    background-color:#F2F2F2;
    padding-right:40px;
    padding-left:45px;
    margin-right:47px;
    border-radius:35px 35px 35px 35px;
}

.Hebergement1    /* Les 3 Figures Hébergement 4-5-6 de la Section Hébergement à Marseille sans margin bottom */ 
{
    width:250px;
    height:245px;
    background-color:white;
    border:7px solid white;
    border-radius:35px 35px 35px 35px; 
    overflow:hidden;
    margin-top:0px;
    margin-right:0px;
    margin-left:0px;
    margin-bottom:25px;    
}

.Hebergement    /* Les 3 Figures Hébergement 4-5-6 de la Section Hébergement à Marseille sans margin bottom */ 
{
    width:250px;
    height:245px;
    background-color:white;
    border:7px solid white;
    border-radius:35px 35px 35px 35px; 
    overflow:hidden;
    margin:0px;
}

.AfficherPlus 
{
    font-weight:bold;
    margin-top:55px;
    margin-bottom:55px;
}

#LesPlusPopulaires .Populaire img     /* Les 3 Images de l'Aside "les plus populaires"  */ 
{
    width:150.5px;
    height:170.5px;
}
#LesPlusPopulaires    /*  Aside id "les plus populaires" aligné à droite  */
{
    background-color:#F2F2F2;
    width:54.5%;
    border-radius:35px 35px 35px 35px;
    padding-left:37px;
}
.Populaire  /* Figure de l'Aside"les plus populaires"   */
{
    display:flex;
    background-color:white;
    width:89%;
    height:22.25%;
    border:6px solid white;
    border-radius:35px 35px 35px 35px; 
    overflow:hidden;
    margin-top:40px;
    margin-left:0px;
}

.iconPopulaire  /* Mise en place de l'Icon de l'Aside "les plus populaires"   */
{
    float:right;
    margin-right:41px;
}
.MargePopulaire /* Mise en place des Figcaptions des figures de l'Aside "les plus populaires"   */
{
    display:flex;
    flex-direction:column;
    margin-left:25px;
}
.MargeHebergement /* Mise en place des Figcaptions des figures de la section "Hébergement de Marseille"   */
{
    margin-left:15px;
}

#ActivitesaMarseille   /* Ancre et section page Activités de Navigation */
{
    width:100%;
}
#ActivitesaMarseille .content2   /* Div pour mettre le titre " Activités à Marseille " sans flex  et  aud-dessus de la Section " Activité à Marseille " */ 
{
    display:flex;
    justify-content:space-between;
}

.Colone1, .Colone3 /* Div 1-2-3-4  Largeur  */
{
    width:23%;
}
.Colone2, .Colone4 
{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:23%
}
.Activites-VieuxPort, .Activites-FortDePomegues, .Activites-IlesDuFrioul, .Activites-ParcNationalDesCalanques, .Activites-NotreDameDeLaGarde, .Activites-ParcLongchamp    /* Figure Activités */ 
{
    margin:0px;
    box-shadow: 0px 10px 25px rgb(170, 170, 173);
    border-radius:35px 35px 35px 35px;
    overflow:hidden;
}

#ActivitesaMarseille .Activites-VieuxPort img   /* image ParcNationalDesCalanques et VieuxPort */ 
{
    width:100%;
    height:427px;
    object-fit:cover;
    object-position:50% 0%;
}

#ActivitesaMarseille .Activites-FortDePomegues img     /* image FortDePomegues  */ 
{
    width:100%;
    height:204px;
    object-fit:cover;
    object-position:0% 40%;
}
#ActivitesaMarseille .Activites-IlesDuFrioul img      /* image Ile Du Frioul */ 
{
    width:100%;
    height:124px;
    object-fit:cover;
    object-position:0% 20%;
}
#ActivitesaMarseille .Activites-ParcNationalDesCalanques img 
{
    width:100%;
    height:427px;
    object-fit:cover;
}
#ActivitesaMarseille .Activites-NotreDameDeLaGarde img    /* image NotreDameDeLaGarde*/ 
{
    width:100%;
    height:154px;
    object-fit:cover;
    object-position:0% 0%;
}
#ActivitesaMarseille .Activites-ParcLongchamp img     /* image ParcLongChamp */ 
{
    width:100%;
    height:167px;
    object-fit:cover;
    object-position:0% 20%;
}
p
{
    color:black;
}
h2      /* Titre h2- "hébergement à Marseille", "les plus populaires" ,"activités à Marseille" */ 
{
    margin-top:35px;
}

footer        /* Footer : Couleur de fond du footer + Flex */
{
    display:flex;
    background-color: #F2F2F2;
    justify-content: space-between;
    padding:2% 30px 2%;
}
@media screen and (max-width:480px)  /* styles pour mobiles portrait */
{
body
{
    width:98%;
    height:auto;
    margin:0 auto;
}    
header
{
    margin-left:20px;
    margin-right:20px;
}
#Reservia  /* Logo */
{
    width:20%;
}
.NavEtLogo /* Pour que la navigation soit en colonne */
{
    width:auto;
    display:flex;
    flex-direction:column;
    padding-left:25px;
}

.navigation /* Menu navigation " activités " et " Hébergement " sans surlignement et en couleur noir et non rouge bordeaux comme par défaut"  */
{
    width:auto;
    text-decoration:none;
    border-bottom:3px solid #0065FC;
    color:#0065FC;
}
.blue /* Pour que " s'inscrire " de la navigation soit de couleur bleu ciel et sans soulignement */
{
    margin-top:56px;
    width:auto;
    float:left;
    color:#0065FC;
    text-decoration:none;
}
.decoration1 /* Pour que " activité " de  navigation soit de couleur noir et non rouge bordeaux comme par défaut et sans soulignement */
{
    width:auto;
    text-decoration:none;
    color:black;
}
.decoration2 /* Pour que "Hébergement" de navigation soit de couleur noir et non rouge bordeaux comme par défaut et sans soulignement + la bande en bleu */
{
    width:auto;
    padding-top:0px;
    border:none;
}
h1
{
    width:70%;
    flex-wrap:wrap;
}
.BoutonRechercher/* Contenue du bouton " Rechercher"  */
{
    background: url(/images/activites/4_small/Icon-search.svg);
    background-repeat:no-repeat;
    height:20px;
    align-items:center;
}
}

.OrdreLi
{
    width:100%;
}

nav li  /* Pour que la navigation soit aligné sur la meme ligne et non pas en liste et une marge */
{
    width:auto;
    margin-top:0px;
    list-style:none;
} 
nav li:last-child  /* Pour que le " s'inscrire " de navigation n'aie aucune marge */
{
    width:auto;
    margin-right:0px;
    margin-top:0px;
}
.filtre_li
{
    font-weight:bold;
}
.Filtres /* Filtre balise Ul Alignemement des différents filtres avec Flex cote à cote et mise en Gras.*/ 
{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    height:auto;
    list-style:none;
    align-items:center;
    padding:0px;
    font-weight:bold;
    margin:0px;
}
.filtre_li-Economiques /* Bordure Filtres: Economique, Familial, Romantique ...*/ 
{
    width:37%;
    border:1px solid #d9d9d9;
    border-width:2px 2px 2px 0px;
    border-radius:25px 25px 25px 25px;
    margin-right:28px;
    padding:0px 25px 0px 0;
    overflow:hidden;
    margin-bottom:20px;
}
.filtre_li-Familial 
{
    width:27%;
    border:1px solid #d9d9d9;
    border-width:2px 2px 2px 0px;
    border-radius:25px 25px 25px 25px;
    margin-right:28px;
    padding:0px 25px 0px 0;
    overflow:hidden;
    margin-bottom:20px;
}
.filtre_li-Romantique
{
    width:36%;
    border:11px solid #d9d9d9;
    border-width:2px 2px 2px 0px;
    border-radius:25px 25px 25px 25px;
    margin-right:28px;
    padding:0px 25px 0px 0;
    overflow:hidden;
    margin-bottom:20px;
}
.filtre_li-AnimauxAutorises
{
    width:47%;
    border:11px solid #d9d9d9;
    border-width:2px 2px 2px 0px;
    border-radius:25px 25px 25px 25px;
    margin-right:28px;
    padding:0px 25px 0px 0;
    overflow:hidden;
    margin-bottom:20px;
}

.italic2
{
    width:77%;
    display:flex;
    flex-wrap:wrap;
}
#BlocHebergementEtPopulaireEtActivite  /* Main */ 
{
    margin-left:20px;
    margin-right:20px;
}

.BlocHergementetPopulaire   /* Section Hébergement + Les plus populaires pour les mettres en Flex  */ 
{
    display:flex;
    flex-direction:column-reverse;
    margin-bottom:0px;
    padding-left:0px;
}   
#HebergementaMarseille    /* Div Hébergement à Marseille et Id : Lien section page */
{
    display:flex;
    flex-direction:column;
    background-color:rgb(247, 247, 247);
    padding-left:0px;
    margin-right:0px;
    padding-right:0px;
}
#BlocHebergementEtPopulaireEtActivite .content img  /* Image hébergement à Marseille */ 
{
    width:426px;
    height:55%;
}

.Hebergement1, .Hebergement    /* Les 6 Figures de la Section Hébergement à Marseille */ 
{
    width:426px;
    background-color:white;
    border:7px solid white;
    border-radius:35px 35px 35px 35px; 
    overflow:hidden;
    margin:0px;
    margin-bottom:15px;
}

#BlocHebergementEtPopulaireEtActivite   /* Div pour mettre le titre " Hébergement à Marseille " dans la Section " hébergement à Marseille sans Flex. 
                                    Et pour mettre en Flex les figures et les images de la Section " Hébergement à Marseille */ 
{
    width:440px;
    display:flex;
    flex-direction:column;
    background-color:rgb(247, 247, 247);
    padding-left:0px;
}
#LesPlusPopulaires    /*  Aside id "les plus populaires" aligné à droite  */
{
    width:100%;
    display:flex;
    flex-direction:column;
    background-color:#F2F2F2;
    padding-left:0px;
}
.iconPopulaire  /* Mise en place de l'Icon de l'Aside "les plus populaires"   */
{
    float:none;
    margin-left:150px;
}

#ActivitesaMarseille .content2   /* Div pour mettre le titre " Activités à Marseille " sans flex  et  aud-dessus de la Section " Activité à Marseille " */ 
{
    display:flex;
    flex-direction:column;
    background-color:none;

}
#ActivitesaMarseille .content2 img
{
    width:100%;
    height:80%;
    object-fit:none;
}
#ActivitesaMarseille .Activites-VieuxPort, .Activites-FortDePomegues, .Activites-IlesDuFrioul, .Activites-ParcNationalDesCalanques, .Activites-NotreDameDeLaGarde, .Activites-ParcLongchamp
{
    width:100%;
    height:200px;
    margin-bottom:15px;
}
.Colone1, .Colone2, .Colone3, .Colone4
{
    width:100%;
}
footer        /* Footer : Couleur de fond du footer + Flex */
{
    display:flex;
    flex-direction:column;
    background-color: #F2F2F2;
    margin-top:25px;
    padding-left:30px;
    padding-right:0px;
}

@media screen and (min-width:769px) and (max-width:1280px)
{

}  /* styles pour tablettes*/
@media screen and (min-width:481px) and (max-width:768px)   /* styles pour mobile paysage*/
{

}
}