@font-face /* Police et couleur de la page */
{
    font-family:"Raleway";
    src:url("Police Raleway/Raleway-Regular.ttf") format("truetype");
}
header  /* Header du site avec le logo et la Navigation + Le titre principal et le bouton de Recherche et la Navigation Filtre */
{
    margin-left:56px;
    margin-right:84px;
}

header a:hover /* Pour qu'au survol les liens du header <a> soit en couleur bleu ciel. */
{
    color:#0065FC;
}
header .decoration1:hover, .decoration2:hover
{
    border-top:3px solid #0065FC;
}
body  /* Police du site */
{
    font-family:"Raleway";
    
    width:100%;
}

#Reservia  /* Logo */
{
    margin-top:55px;
    height:2.9rem;
}
nav /* Pour que la navigation soit avec une marge d'hauteur de 54 px et avec un flottement à droite */
{
    margin-top:54px;
    float:right;
}

nav li  /* Pour que la navigation soit aligné sur la meme ligne et non pas en liste et avec une marge avec un flotement à gauche. */
{
    float:left;
    margin-right:70px;
    list-style:none;
} 
li:last-child  /* Pour que le " s'inscrire " de navigation n'aie aucune marge */
{
    margin-right:70px;
}

.navigation /* Menu navigation " activités " et " Hébergement " sans surlignement et en couleur noir et non rouge bordeaux comme par défaut"  */
{
    margin-top:0px;
    margin-bottom:0px;
    text-decoration:none;
}

.blue /* Pour que " s'inscrire " de la navigation soit de couleur bleu ciel et sans soulignement */
{
    text-decoration:none;
    color:black;
    float:right;
    margin-top:54px;
}
.decoration1, .decoration2 /* Pour que " activité " et "Hébergement" de  navigation soit de couleur noir et non rouge bordeaux comme par défaut et sans soulignement + la bande en bleu après un hover*/
{
    text-decoration:none;
    color:black;
    padding:0px;
    padding-top:52px;
}

.decoration3 /* Pour que les filtres ne soit pas soulignés et en couleur noir en gras et non en rouge bordeaux par défaut. */
{
    text-decoration:none;
    font-weight:bold;
    color:black;
}

.italic1
{
    font-style:italic; /* Ecriture en italique:"En plein centre ville ou en pleine nature  */ /* Ecriture en italique "Plus de 500 logements sont disponibles dans cette ville" en italique" */
}
.italic2
{
    font-style:italic; /* Ecriture en italique:"En plein centre ville ou en pleine nature  */ /* Ecriture en italique "Plus de 500 logements sont disponibles dans cette ville" en italique" */
    width:450px;
    height:20px;
}
.IconLocalisation /* Icon localisation contenue*/
{
    display:inline-flex;
    width:30rem;
    height:50px;
    overflow:auto;
    margin-bottom:20px;
}
.IconLocalisation i /* Cercle Icon localisation */
{
    border:1px solid #F2F2F2 ;
    background-color:#F2F2F2;
    border-width:18px;
    border-radius:15px 0px 0px 15px;
    overflow:hidden;
}
#site-search /* Barre de rechercher "   */
{
    font-weight:bold;
    overflow:hidden;
    padding:1.2rem;
    border:1px solid #F2F2F2;
}
.BoutonRechercher /* Bouton " Rechercher" Desktop */
{
    background-color:#0065FC;
    color:white;
    font-weight:bold;
    border:none;
    border-radius:0 0.7rem 0.7rem 0;
    cursor:pointer;
}
.IconLocalisation span i /* Bouton rechercher Mobile*/
{
    display:none;
    border:1px solid #0065FC ;
    background-color:#0065FC;
    border-width:18px;
    border-radius:15px;
    overflow:hidden;
    color:white;
    cursor:pointer;
}
.OrdreLi
{
    display:flex;
}
.Filtres /* Filtre balise Ul Alignemement des différents filtres avec Flex cote à cote et mise en Gras.*/ 
{
    display:flex;
    list-style:none;
    align-items:center;
    padding-left:0px;
    font-weight:bold;
    margin-bottom:30.5px;
    width:950px;
}
.filtre_li /* Marge à droite de la liste à puce Filtre -Li */ 
{
    padding-right:37px;
    font-weight:bold;
    margin-top:33px;
}

.filtre_li-Economiques, .filtre_li-Familial, .filtre_li-Romantique, .filtre_li-AnimauxAutorises /* Bordure Filtres: Economique, Familial, Romantique ...*/ 
{
    border:11px solid #d9d9d9;
    border-width:2px 2px 2px 0px;
    border-radius:25px 25px 25px 25px;
    margin-right:40px;
    padding:0px 25px 0px 0;
    overflow:hidden;
}

.filtre_li-Economiques i, .filtre_li-Familial i, .filtre_li-Romantique i, .filtre_li-AnimauxAutorises i /* Bordure Icon Filtres: Economique, Familial, Romantique ...*/ 
{
    border:0.9rem solid #d6e7FF;
    border-radius:100%;
    color:#0065FC;
    background-color:#d6e7FF;
    margin-right:10px;
    width:20px;
    line-height:20px;
}

.fas.fa-star /* Couleur grise pour les étoiles vides */
{
    color:#d1d1d2;
}

.fas.fa-star.active /* Couleur bleu ciel pour étoiles pleines */
{
    color: #0065FC;
}
.MargeStar /*  Marge des étoiles dans l'aside " Les plus populaires "  */
{
    margin-top:50px;
}

.bold2 /*  Tous les titres des figures de la session " Activité à Marseille" en Gras */
{
    font-weight:bold; 
    margin-left:25px;
}

.bold1 /*  Tous les titres des figures de la session " Hébergement à Marseille" en Gras */
{
    font-weight:bold;
}

.IconInformation /* Icon Information contenue */
{
    display:flex;
    align-items:center;
    color:#0065FC;
    background-color: white;
}
.IconInformation i   /* Cercle Icon Information */
{
    border:2px solid #f2f2f2;
    border-radius:100%;
    margin-right:15px;
    width:19px;
    text-align:center;
}

#BlocHebergementEtPopulaireEtActivite .content img  /* Image hébergement à Marseille */ 
{
    width:277px;
    height:128px;
}
#BlocHebergementEtPopulaireEtActivite  /* Main */ 
{
    margin:30px 56px 65px;
    border-radius:35px 35px 35px 35px;
}
#BlocHebergementEtPopulaireEtActivite a   /* Pour enlever le surlignement et la couleur par défaut des liens des cartes Hébergement à Marseille */ 
{
    text-decoration:none;
    color:black;
}
#BlocHebergementEtPopulaireEtActivite .content    /* Div pour mettre le titre " Hébergement à Marseille " dans la Section " hébergement à Marseille sans Flex. 
                                    Et pour mettre en Flex les figures et les images de la Section " Hébergement à Marseille */ 
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    background-color: #F2F2F2;
    border-radius:35px 35px 35px 35px;
}
.BlocHergementetPopulaire   /* Section Hébergement + Les plus populaires pour les mettres en Flex  */ 
{
    display:flex;
    margin-bottom:74px;
}
#HebergementaMarseille    /* Div Hébergement à Marseille et Id : Lien section page */
{
    background-color:#F2F2F2;
    padding-right:40px;
    padding-left:45px;
    margin-right:47px;
    border-radius:35px 35px 35px 35px;
}

.Hebergement    /* Les 6 Figures Hébergement de la Section Hébergement à Marseille */ 
{
    width:245px;
    height:245px;
    background-color:white;
    border:7px solid white;
    border-radius:35px 35px 35px 35px; 
    overflow:hidden;
    margin:0px;
}
#HebergementaMarseille .content .MargeBottomCarte
{
    margin-bottom:25px;
}

.AfficherPlus 
{
    font-weight:bold;
    margin-top:55px;
    margin-bottom:55px;
}

#LesPlusPopulaires .Populaire img     /* Les 3 Images de l'Aside "les plus populaires"  */ 
{
    width:150.5px;
    height:170.5px;
}
#LesPlusPopulaires    /*  Aside id "les plus populaires" aligné à droite  */
{
    background-color:#F2F2F2;
    width:54.5%;
    border-radius:35px 35px 35px 35px;
    padding-left:37px;
}
.Populaire  /* Figure de l'Aside"les plus populaires"   */
{
    display:flex;
    background-color:white;
    width:89%;
    height:22%;
    border:6px solid white;
    border-radius:35px 35px 35px 35px; 
    overflow:hidden;
    margin-top:40px;
    margin-left:0px;
}

.iconPopulaire  /* Mise en place de l'Icon de l'Aside "les plus populaires"   */
{
    float:right;
    margin-right:41px;
}
.MargePopulaire /* Mise en place des Figcaptions des figures de l'Aside "les plus populaires"   */
{
    display:flex;
    flex-direction:column;
    margin-left:25px;
}
.MargeHebergement /* Mise en place des Figcaptions des figures de la section "Hébergement de Marseille"   */
{
    margin-left:15px;
}

#ActivitesaMarseille   /* Ancre et section page Activités de Navigation */
{
    width:100%;
}
#ActivitesaMarseille .content2   /* Div pour mettre le titre " Activités à Marseille " sans flex  et  aud-dessus de la Section " Activité à Marseille " */ 
{
    display:flex;
    justify-content:space-between;
}

.Colone1, .Colone3 /* Div 1-2-3-4  Largeur  */
{
    width:23%;
}
.Colone2, .Colone4 
{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:23%
}
.Activites-VieuxPort, .Activites-FortDePomegues, .Activites-IlesDuFrioul, .Activites-ParcNationalDesCalanques, .Activites-NotreDameDeLaGarde, .Activites-ParcLongchamp    /* Figure Activités */ 
{
    margin:0px;
    box-shadow: 0px 10px 25px rgb(170, 170, 173);
    border-radius:35px 35px 35px 35px;
    overflow:hidden;
}

#ActivitesaMarseille .Activites-VieuxPort img   /* image ParcNationalDesCalanques et VieuxPort */ 
{
    width:100%;
    height:427px;
    object-fit:cover;
    object-position:50% 0%;
}

#ActivitesaMarseille .Activites-FortDePomegues img     /* image FortDePomegues  */ 
{
    width:100%;
    height:204px;
    object-fit:cover;
    object-position:0% 40%;
}
#ActivitesaMarseille .Activites-IlesDuFrioul img      /* image Ile Du Frioul */ 
{
    width:100%;
    height:124px;
    object-fit:cover;
    object-position:0% 20%;
}
#ActivitesaMarseille .Activites-ParcNationalDesCalanques img 
{
    width:100%;
    height:427px;
    object-fit:cover;
}
#ActivitesaMarseille .Activites-NotreDameDeLaGarde img    /* image NotreDameDeLaGarde*/ 
{
    width:100%;
    height:154px;
    object-fit:cover;
    object-position:0% 0%;
}
#ActivitesaMarseille .Activites-ParcLongchamp img     /* image ParcLongChamp */ 
{
    width:100%;
    height:167px;
    object-fit:cover;
    object-position:0% 20%;
}
p
{
    color:black;
}
h2      /* Titre h2- "hébergement à Marseille", "les plus populaires" ,"activités à Marseille" */ 
{
    margin-top:35px;
}

footer        /* Footer : Couleur de fond du footer + Flex */
{
    display:flex;
    background-color: #F2F2F2;
    justify-content: space-between;
    padding:2% 30px 2%;
}

@media screen and (min-width:1090px) and (max-width:1280px)  /* styles pour tablettes*/
{
body  /* Police du site */
{
    margin-right:40px;
    width:100%;
}
header
{
    width:96%;
    margin-left:2%;
    margin-right:2%
}

.blue /* Pour que " s'inscrire " de la navigation soit de couleur bleu ciel et sans soulignement */
{
    padding-right:5%;
}
.Filtres /* Filtre balise Ul Alignemement des différents filtres avec Flex cote à cote et mise en Gras.*/ 
{
    display:flex;
    flex-wrap:wrap;
}
.filtre_li-Economiques, .filtre_li-Familial, .filtre_li-Romantique, .filtre_li-AnimauxAutorises /* Bordure Filtres: Economique, Familial, Romantique ...*/ 
{
    width:200px;
}
#HebergementaMarseille    /* Div Hébergement à Marseille et Id : Lien section page */
{
    width:100%;
    background-color:#F2F2F2;
    padding-right:20px;
    padding-left:20px;
    margin-right:20px;
    border-radius:35px 35px 35px 35px;
}
.Hebergement    /* Les 6 Figures Hébergement de la Section Hébergement à Marseille */ 
{
    width:100%;
}
.MargeBottomCarte2
{
    margin-bottom:25px;
}
#LesPlusPopulaires    /*  Aside id "les plus populaires" aligné à droite  */
{
    width:50%;
    background-color:#F2F2F2;
    border-radius:35px 35px 35px 35px;
    padding-left:37px;
}
.BlocHergementetPopulaire   
{
    width:96%;
    padding-left:2%;
    padding-right:2%;
}
#BlocHebergementEtPopulaireEtActivite  /* Main */ 
{
    width:100%;
    margin-left:0px;
    margin-right:0px;
    margin-top:30px;
    margin-bottom:65px;
    border-radius:35px 35px 35px 35px;
}
#ActivitesaMarseille
{
    width:96%;
    margin-left:2%;
    margin-right:2%;
}
footer
{
    width:96%;
    padding:0px;
    padding-left:2%;
    padding-right:2%;
}
}
@media screen and (min-width:769px) and (max-width:1089px)  /* styles pour tablettes*/
{
body
{
    width:100%
}
.Hebergement    /* Les 6 Figures Hébergement de la Section Hébergement à Marseille */ 
{
    width:450px;
}
#BlocHebergementEtPopulaireEtActivite .content img  /* Image hébergement à Marseille */ 
{
    width:450px;
    height:135px;
}
#HebergementaMarseille    /* Div Hébergement à Marseille et Id : Lien section page */
{
    width:100%;
    background-color:#F2F2F2;
    padding-right:20px;
    padding-left:20px;
    margin-right:20px;
    border-radius:35px 35px 35px 35px;
}
#HebergementaMarseille .content
{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.MargeBottomCarte2
{
    margin-bottom:25px;
}
#LesPlusPopulaires    /*  Aside id "les plus populaires" aligné à droite  */
{
    width:80%;
    background-color:#F2F2F2;
    border-radius:35px 35px 35px 35px;
    padding-left:37px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
#LesPlusPopulaires .Populaire img     /* Les 3 Images de l'Aside "les plus populaires"  */ 
{
    width:66%;
    height:450px;
}    
}
@media screen and (min-width:376px) and (max-width:768px)   /* styles pour mobile paysage*/
{
body  /* Police du site */
{
    margin-right:40px;
    width:100%;
    height:auto;
}
header
{
    width:100%;
    margin-right:0px;
}
nav /* Pour que la navigation soit avec une marge d'hauteur de 54 px et avec un flottement à droite */
{
    margin-top:54px;
    float:none;
    display:flex;
}
.blue /* Pour que " s'inscrire " de la navigation soit de couleur bleu ciel et sans soulignement */
{
    margin-top:70px;
    margin-right:12%;
}
.Filtres /* Filtre balise Ul Alignemement des différents filtres avec Flex cote à cote et mise en Gras.*/ 
{
    display:flex;
    flex-wrap:wrap;
}
h1
{
    width:96%;
    flex-wrap:wrap;
}
.italic2
{
    flex-wrap:wrap;
}
#BlocHebergementEtPopulaireEtActivite  /* Main */ 
{
    width:100%;
    margin:0px;
    margin-right:0px;
    margin-left:0px;
    margin-bottom:6%;
    margin-top:2%;
}
#BlocHebergementEtPopulaireEtActivite .content   /* Image hébergement à Marseille */ 
{
    flex-direction:column;
    width:100%;
    margin-top:6%;
    background:none;
}
.BlocHergementetPopulaire   /* Section Hébergement + Les plus populaires pour les mettres en Flex  */ 
{
    width:100%;
    display:flex;
    flex-direction:column-reverse;
    margin-bottom:0px;
    padding:0px;
}
#HebergementaMarseille    /* Div Hébergement à Marseille et Id : Lien section page */
{
    width:88%;
    margin-top:2%;
    padding:0px 6%;
    background:none;
}
#BlocHebergementEtPopulaireEtActivite .content img  /* Image hébergement à Marseille */ 
{
    width:100%;
    height:55%;
}
#HebergementaMarseille .content .MargeBottomCarte
{
    margin-bottom:0px;
}
.Hebergement    /* Les 6 Figures de la Section Hébergement à Marseille */ 
{
    width:98%;
    margin-bottom:15px;
}
#LesPlusPopulaires
{
    width:88%;
    padding:0px 6%;
    border-radius:0;
}
#ActivitesaMarseille .content2
{
    flex-direction:column;
    width:100%;
}
#ActivitesaMarseille 
{
    width:100%;
}
#ActivitesaMarseille .Activites-VieuxPort img   /* image ParcNationalDesCalanques et VieuxPort */ 
{
    width:100%;
    height:auto;
    object-fit:cover;
    object-position:50% 0%;

}

#ActivitesaMarseille .Activites-FortDePomegues img     /* image FortDePomegues  */ 
{
    width:100%;
    height:70%;
    object-fit:cover;
    object-position:0% 40%;
}
#ActivitesaMarseille .Activites-IlesDuFrioul img      /* image Ile Du Frioul */ 
{
    width:100%;
    height:auto;
    object-fit:cover;
    object-position:0% 20%;
}
#ActivitesaMarseille .Activites-ParcNationalDesCalanques img 
{
    width:100%;
    height:auto;
    object-fit:cover;
}
#ActivitesaMarseille .Activites-NotreDameDeLaGarde img    /* image NotreDameDeLaGarde*/ 
{
    width:100%;
    height:auto;
    object-fit:cover;
}
#ActivitesaMarseille .Activites-ParcLongchamp img     /* image ParcLongChamp */ 
{
    width:100%;
    height:auto;
    object-fit:cover;
    object-position:0% 20%;
}
#ActivitesaMarseille .Activites-VieuxPort, .Activites-FortDePomegues, .Activites-IlesDuFrioul, .Activites-ParcNationalDesCalanques, .Activites-NotreDameDeLaGarde, .Activites-ParcLongchamp
{
    width:95%;
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
    text-align:center;
}
.Colone1
{
    width:100%;
    display:flex;
    flex-direction:column;
}
.Colone2
{
    width:100%;
    display:flex;
    flex-direction:column;
}
.Colone3
{
    width:100%;
    display:flex;
    flex-direction:column;
}
.Colone4 
{
    width:100%;
    display:flex;
    flex-direction:column; 
}
}
@media screen and (max-width:375px)  /* styles pour mobiles portrait */
{
body
{
    width:100%;
    height:auto;
    overflow-x:hidden;

}    
header
{
    width:100%;
    margin:0px;
}
header .decoration1:hover, .decoration2:hover
{
    border-top:0px;
}
#Reservia  /* Logo */
{
    width:20%;
    margin-bottom:0px;
    margin-top:25px;
    margin-left:5.5%;
}
nav /* Menu navigation " activités " et " Hébergement " sans surlignement et en couleur noir et non rouge bordeaux comme par défaut"  */
{
    display:flex;
    width:100%;
    text-decoration:none;
    color:#0065FC;
    margin:0px;
    padding:0px;
    margin-top:40px;
}

nav li  /* Pour que la navigation soit aligné sur la meme ligne et non pas en liste et une marge */
{
    width:auto;
    margin:0px;
    list-style:none;
    width: 50%;
    border-bottom:3px solid #f2f2f2;
    text-align:center;
    padding-bottom:13px;
    margin-bottom:35px;
} 
nav li:hover 
{
    border-bottom-color: #0065FC;
}
nav li:hover a 
{
    color: #0065FC;

}
.navigation
{
    padding-left:0px;
    width: 100%;
}
.blue /* Pour que " s'inscrire " de la navigation soit de couleur bleu ciel et sans soulignement */
{
    color:#0065FC;
    font-weight:bold;
    text-decoration:none;
    float:right;
    margin-top:40px;
    padding-bottom:0px;
    padding-right:20px;
}
.decoration1 /* Pour que " activité " de  navigation soit de couleur noir et non rouge bordeaux comme par défaut et sans soulignement */
{
    text-decoration:none;
    color:black;
  
}
.decoration2 /* Pour que "Hébergement" de navigation soit de couleur noir et non rouge bordeaux comme par défaut et sans soulignement + la bande en bleu */
{
    text-decoration:none;
    padding:0px;
    padding-right:80px;
    padding-left:40px;
    border:none;
    color:black;
}
.decoration3
{
    display:inline-block;
    border:2px solid #d9d9d9; 
    border-radius:100px;
    height:46px;
    line-height:48px;
    width:calc(100% -56px);
    padding-left:50px;
    margin-left:2px;
    z-index:0;
}
li:last-child  /* Pour que le " s'inscrire " de navigation n'aie aucune marge */
{
    margin-right:0px;
}

h1
{
    width:90%;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:5.5%;
}
.italic1
{
    margin-left:5.5%;
}
.BoutonRechercher
{
    display:none;
}
#site-search /* Barre de rechercher "   */
{
    padding:0.5rem;
    border:none;
    overflow:hidden;
}
.IconLocalisation span i /* Cercle Icon localisation */
{
    display:inline-block;
    border:1px solid #0065FC ;
    background-color:#0065FC;
    border-width:18px;
    border-radius:15px;
    overflow:hidden;
    color:white;
    cursor:pointer;
    width:15px;
    height:15px;
}
.IconLocalisation i
{
    margin-left:5.5%;
}
.IconLocalisation
{
    display:inline-flex;
    height:50px;
    width:100%;
    overflow-x:hidden;
    overflow-y:hidden;
    margin-bottom:20px;
    border:1px solid #d9d9d9;
}
.OrdreLi
{
    display:flex;
    flex-direction:column;
    width:100%;
}
.filtre_li
{
    font-weight:bold;
    margin-left:5.5%;
}

.Filtres /* Filtre balise Ul Alignemement des différents filtres avec Flex cote à cote et mise en Gras.*/ 
{
    display:flex;
    flex-wrap:wrap;
    width:94.5%;
    height:auto;
    list-style:none;
    align-items:center;
    padding:0px;
    font-weight:bold;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:5.5%;
}
.filtre_li-Economiques /* Bordure Filtres: Economique, Familial, Romantique ...*/ 
{
    width:51%;
    border:1px solid #d9d9d9;
    border-width:2px 2px 2px 0px;
    border-radius:100px;
    padding:0px 0px 0px 0px;
    overflow:hidden;
    margin-bottom:15px;
    margin-right:12px;
    
}

.filtre_li-Familial 
{
    position:relative;
    height:50px;
    line-height:50px;
    width:38%;
    border:none;
    border-width:2px 2px 2px 0px;
    border-radius:100px;
    padding:0px 20px 0px 0px;
    overflow:hidden;
    margin-bottom:15px;
    margin-right:0px;

}

.filtre_li-Romantique
{
    width:46%;
    border:11px solid #d9d9d9;
    border-width:2px 2px 2px 0px;
    border-radius:100px;
    padding:0px 15px 0px 0;
    overflow:hidden;
    margin-bottom:15px;
    margin-right:0px;
}
.filtre_li-Economiques i, .filtre_li-Familial i, .filtre_li-Romantique i, .filtre_li-AnimauxAutorises i
{
    display:inline-block;
    width:22px;
    height:22px;
    text-align:center;
}

.filtre_li-AnimauxAutorises
{
    width:62%;
    border:11px solid #d9d9d9;
    border-width:2px 2px 2px 0px;
    border-radius:100px;
    margin-right:28px;
    padding:0px 15px 0px 0;
    overflow:hidden;
    margin-bottom:33px;
}

.italic2
{
    width:100%;
    display:flex;
    flex-wrap:wrap;
}

.IconInformation i   /* Cercle Icon Information */
{
    display:flex;
    border:1px solid #d9d9d9;
    border-radius:100%;
    margin-right:13px;
    width:20px;
    height:20px;
    font-size:60%;
    align-items:center;
    justify-content:center;
    margin-left:5.5%;
}

.BlocHergementetPopulaire   /* Section Hébergement + Les plus populaires pour les mettres en Flex  */ 
{
    width:100%;
    display:flex;
    flex-direction:column-reverse;
    margin-bottom:0px;
    padding-left:0px;
}   

#HebergementaMarseille    /* Div Hébergement à Marseille et Id : Lien section page */
{
    width:100%;
    display:flex;
    flex-direction:column;
    padding-left:0px;
    padding-right:0px;
    background-color:white;
    margin-top:5px;
    margin-left:6%;
    margin-right:6%;
}

#HebergementaMarseille .content .MargeBottomCarte, .MargeBottomCarte2
{
    margin-bottom:13px;
}
.MargeBottomCarte3
{
    margin-bottom:23px;
}

#BlocHebergementEtPopulaireEtActivite .content img  /* Image hébergement à Marseille */ 
{
    width:100%;
}

#HebergementaMarseille .content
{
    width:100%;
    background-color:white;
}
.Hebergement /* Les 6 Figures de la Section Hébergement à Marseille */ 
{
    width:321px;
    background-color:white;
    border:7px solid white;
    border-radius:35px 35px 35px 35px; 
    box-shadow:0px 5px 20px #f2f2f2;
    overflow:hidden;
    margin:0px;
    margin-bottom:0px;
}

#BlocHebergementEtPopulaireEtActivite   /* Div pour mettre le titre " Hébergement à Marseille " dans la Section " hébergement à Marseille sans Flex. 
                                    Et pour mettre en Flex les figures et les images de la Section " Hébergement à Marseille */ 
{
    width:100%;
    display:flex;
    flex-direction:column;
    padding:0px;
    margin-bottom:26px;
    margin-top:40px;
    margin-left:0px;
    margin-right:0px;
}
#LesPlusPopulaires    /*  Aside id "les plus populaires" aligné à droite  */
{
    width:100%;
    display:flex;
    flex-direction:column;
    background-color:#F2F2F2;
    padding-top:5px;
    padding-bottom:27px;
    padding-left:6%;
    padding-right:6%;
    border-radius:0px;
}
.Populaire  /* Figure de l'Aside"les plus populaires"   */
{
    width:99%;
    height:133px;
    margin-top:0px;
    margin-right:0px;
    padding-bottom:0px;
    margin-bottom:10px;
}
#LesPlusPopulaires .Populaire img     /* Les 3 Images de l'Aside "les plus populaires"  */ 
{
    width:128px;
    height:133px;
}
.iconPopulaire  /* Mise en place de l'Icon de l'Aside "les plus populaires"   */
{
    float:right;
    margin-right:0px;
}
#LesPlusPopulaires h2
{
    width:100%;
}
.MargePopulaire /* Mise en place des Figcaptions des figures de l'Aside "les plus populaires"   */
{
    margin-left:6%;
}
#LesPlusPopulaires figure i
{
    font-size:12px;
}
.bold1
{
    margin-bottom:13px;
}
.MargeStar /*  Marge des étoiles dans l'aside " Les plus populaires "  */
{
    margin-top:25px;
}
.AfficherPlus 
{
    font-weight:bold;
    margin-top:20px;
    margin-bottom:25px;
}
#ActivitesaMarseille
{
    margin-left:6%;
    margin-right:6%;
}
#ActivitesaMarseille .content2   /* Div pour mettre le titre " Activités à Marseille " sans flex  et  aud-dessus de la Section " Activité à Marseille " */ 
{
    display:flex;
    flex-direction:column;
    margin-top:33px;
}

#ActivitesaMarseille .Activites-VieuxPort img   /* image ParcNationalDesCalanques et VieuxPort */ 
{
    width:100%;
    height:80%;
    object-fit:cover;
    object-position:0% 0%;
}

#ActivitesaMarseille .Activites-FortDePomegues img     /* image FortDePomegues  */ 
{
    width:100%;
    height:80%;
    object-fit:cover;
    object-position:0% 35%;
}
#ActivitesaMarseille .Activites-IlesDuFrioul img      /* image Ile Du Frioul */ 
{
    width:100%;
    height:80%;
    object-fit:cover;
    object-position:0% 0%;
}
#ActivitesaMarseille .Activites-ParcNationalDesCalanques img 
{
    width:100%;
    height:80%;
    object-fit:cover;
    object-position:0% 0%;
}
#ActivitesaMarseille .Activites-NotreDameDeLaGarde img    /* image NotreDameDeLaGarde*/ 
{
    width:100%;
    height:80%;
    object-fit:cover;
    object-position:0% 0%;
}
#ActivitesaMarseille .Activites-ParcLongchamp img     /* image ParcLongChamp */ 
{
    width:100%;
    height:80%;
    object-position:0% 0%;
}
#ActivitesaMarseille .Activites-VieuxPort, .Activites-FortDePomegues, .Activites-IlesDuFrioul, .Activites-ParcNationalDesCalanques, .Activites-NotreDameDeLaGarde, .Activites-ParcLongchamp
{
    width:100%;
    height:220px;
    display:flex;
    flex-direction:column;
    box-shadow:0px 5px 5px #f2f2f2;
}
.Colone1, .Colone3
{
    width:100%;
    height:243px;
    display:flex;
    flex-direction:column;
}
.Colone2, .Colone4 
{
    width:100%;
    height:486px;
    display:flex;
    flex-direction:column;
}

footer        /* Footer : Couleur de fond du footer + Flex */
{
    width:92%;
    display:flex;
    flex-direction:column;
    background-color: #F2F2F2;
    padding-left:8%;
    padding-right:0px;
    padding-top:32px;
    padding-bottom:34px;
}
}