@font-face /* Police et couleur de la page */
{
    font-family:"Raleway";
    src:url("Police Raleway/Raleway-Regular.ttf") format("truetype");
}
header  /* Header du site avec le logo et la Navigation + Le titre principal et le bouton de Recherche et la Navigation Filtre */
{
    width:1465px;
    height:425px;
    margin-left:60px;
    margin-right:60px;
}
header a:hover /* Pour qu'au survol les liens du header <a> soit en couleur bleu ciel. */
{
    color:#0065FC;
}

body  /* Police du site */
{
    font-family:"Raleway";
    width:1563px;
    height:2060px;
}

#Reservia  /* Logo */
{
    margin-top:55px;
    margin-bottom:40px;
    height:2.9rem;
}
.NavEtLogo /* Pour que la navigation soit espacé */
{
    display:flex;
    justify-content:space-between;
}

nav li  /* Pour que la navigation soit aligné sur la meme ligne et non pas en liste et une marge */
{
    float:left;
    margin-right:40px;
} 
nav li:last-child /* Pour que le Li de Navigation avec " s'inscrire " soit avec aucune marge et aligné avec les plus poplaires et son icon.*/
{
    margin-right:0px;
}

.navigation /* Menu navigation " activités " et " Hébergement " sans surlignement et en couleur noir et non rouge bordeaux comme par défaut"  */
{
    list-style:none;
    text-decoration:none;
    margin-top:56px;
}
.blue /* Pour que " s'inscrire " de la navigation soit de couleur bleu ciel et sans soulignement */
{
    color:#0065FC;
    text-decoration:none;
}
.decoration1 /* Pour que " activité " de  navigation soit de couleur noir et non rouge bordeaux comme par défaut et sans soulignement */
{
    text-decoration:none;
    color:black;
}
.decoration2 /* Pour que "Hébergement" de navigation soit de couleur noir et non rouge bordeaux comme par défaut et sans soulignement + la bande en bleu */
{
    text-decoration:none;
    border-top:3px solid #0065FC;
    padding:0px;
    padding-top:55px;
    color:#0065FC;
}
.decoration3 /* Pour que les filtres ne soit pas soulignés et en couleur noir en gras et non en rouge bordeaux par défaut. */
{
    text-decoration:none;
    font-weight:bold;
    color:black;
}

.italic
{
    font-style:italic; /* Ecriture en italique:"En plein centre ville ou en pleine nature  */ /* Ecriture en italique "Plus de 500 logements sont disponibles dans cette ville" en italique" */
    width:450px;
    height:20px;
}
.IconLocalisation /* Icon localisation contenue*/
{
    display:inline-flex;
    width:30rem;
    height:50px;
    overflow:auto;
}
.IconLocalisation i /* Cercle Icon localisation */
{
    border:1px solid #F2F2F2 ;
    background-color:#F2F2F2;
    border-width:18px;
    border-radius:15px 0px 0px 15px;
    overflow:hidden;
}
#site-search /* Barre de rechercher "   */
{
    font-weight:bold;
    overflow:hidden;
    padding:1.2rem;
}
.BoutonRechercher /* Contenue du bouton " Rechercher"  */
{
    background-color:#0065FC;
    color:white;
    font-weight:bold;
    border:none;
    border-radius:0 0.7rem 0.7rem 0;
    cursor:pointer;
}

.Filtres /* Filtre balise Ul Alignemement des différents filtres avec Flex cote à cote et mise en Gras.*/ 
{
    display:flex;
    list-style:none;
    align-items:center;
    padding-left:0px;
    font-weight:bold;
}
.filtre_li
{
    padding-right:40px;
}

.filtre_li-Economiques, .filtre_li-Familial, .filtre_li-Romantique, .filtre_li-AnimauxAutorises
{
    border:11px solid #F2F2F2;
    border-width:2px 2px 2px 0px;
    border-radius:25px 25px 25px 25px;
    margin-right:25px;
    padding:0px 25px 0px 0;
    overflow:hidden;

}
.filtre_li-Familial
{
    margin-left:10px;
}
.filtre_li-Economiques i, .filtre_li-Familial i, .filtre_li-Romantique i, .filtre_li-AnimauxAutorises i
{
    border:1rem solid #d6e7FF;
    border-radius:100%;
    color:#0065FC;
    background-color:#d6e7FF;
    margin-right:10px;
}

.fas.fa-star /* Couleur grise pour les étoiles vides */
{
    color:#d1d1d2;
}

.fas.fa-star.active /* Couleur bleu ciel pour étoiles pleines */
{
    color: #0065FC;
}
.MargeStar /*  Marge des étoiles dans l'aside " Les plus populaires "  */
{
    margin-top:40px;
}
.bold2 /*  Tous les titres des figures de la session " Activité à Marseille" en Gras */
{
    font-weight:bold; 
    margin-left:25px;
}

.bold1 /*  Tous les titres des figures de la session " Hébergement à Marseille" en Gras */
{
    font-weight:bold;
}

.IconInformation /* Icon Information contenue */
{
    display:flex;
    align-items:center;
    color:#0065FC;
    background-color: white;
}
.IconInformation i   /* Cercle Icon Information */
{
    border:2px solid #f2f2f2;
    border-radius:100%;
    margin-right:15px;
    width:19px;
    text-align:center;
}

#BlocHebergementEtPopulaireEtActivite .Hebergement img  /* Image hébergement à Marseille */ 
{
    width:277px;
    height:128px;
}
#BlocHebergementEtPopulaireEtActivite  /* Main */ 
{
    width:1564px;
    height:1396px;
    margin:25px 60px 65px;
    border-radius:35px 35px 35px 35px;
}
#BlocHebergementEtPopulaireEtActivite a   /* Pour enlever le surlignement et la couleur par défaut des liens des cartes Hébergement à Marseille */ 
{
    text-decoration:none;
    color:black;
}
#BlocHebergementEtPopulaireEtActivite .content    /* Div pour mettre le titre " Hébergement à Marseille " dans la Section " hébergement à Marseille sans Flex. 
                                    Et pour mettre en Flex les figures et les images de la Section " Hébergement à Marseille */ 
{
    display:flex;
    flex-wrap:wrap;
    background-color: #F2F2F2;
    border-radius:35px 35px 35px 35px;
}
.BlocHergementetPopulaire   /* Section Hébergement + Les plus populaires pour les mettres en Flex  */ 
{
    display:flex;
    width:1564px;
    margin-bottom:70px;
}
#HebergementaMarseille    /* Div Hébergement à Marseille et Id : Lien section page */
{
    width:1022px;
    background-color:#F2F2F2;
    margin-right:40px;
    border-radius:35px 35px 35px 35px;
}

.Hebergement    /* Les 6 Figures de la Section Hébergement à Marseille */ 
{
    width:260px;
    background-color:white;
    border:7px solid white;
    border-radius:35px 35px 35px 35px; 
    overflow:hidden;
    margin-left:30px;
    margin-right:0px;

}
.AfficherPlus 
{
    font-weight:bold;
    margin-left:30px;
}

#LesPlusPopulaires .Populaire img     /* Les 3 Images de l'Aside "les plus populaires"  */ 
{
    width:150.5px;
    height:170.5px;
}
#LesPlusPopulaires    /*  Aside id "les plus populaires" aligné à droite  */
{
    background-color:#F2F2F2;
    width:495px;
    border-radius:35px 35px 35px 35px;
}
.Populaire  /* Figure de l'Aside"les plus populaires"   */
{
    display:flex;
    background-color:white;
    width:85%;
    border:6px solid white;
    border-radius:35px 35px 35px 35px; 
    overflow:hidden;
    margin-top:40px;
}

.iconPopulaire  /* Mise en place de l'Icon de l'Aside "les plus populaires"   */
{
    float:right;
    margin-right:85px;
}
.MargePopulaire /* Mise en place des Figcaptions des figures de l'Aside "les plus populaires"   */
{
    display:flex;
    flex-direction:column;
    margin-left:25px;
}
.MargeHebergement /* Mise en place des Figcaptions des figures de la section "Hébergement de Marseille"   */
{
    margin-left:15px;
}

#ActivitesaMarseille   /* Ancre et section page Activités de Navigation */
{
    width:1564px;
    height:580px;
}
#ActivitesaMarseille .content2   /* Div pour mettre le titre " Activités à Marseille " sans flex  et  aud-dessus de la Section " Activité à Marseille " */ 
{
    display:flex;
    width:100%;
    justify-content:space-around;
}
.Colone2, .Colone4    /* Div 2 et 4 pour les mettres en flex.En colonnes et en Space Wetween  */ 
{
   display:flex;
   flex-direction:column;
   justify-content:space-between;
}
.Colone1, .Colone2, .Colone3
{
    width:25%;
    margin-right:50px;
}
.Colone4
{
    width:25%;
}

.Activites-VieuxPort   /* Figure VieuxPort  */ 
{
    width:100%;
    height:85%;
    margin:0px;
    box-shadow: 0px 0px 25px rgb(170, 170, 173);
    border-radius:35px 35px 35px 35px;
    overflow:hidden;
}

.Activites-FortDePomegues   /* Figure FortDePomegues  */ 
{
    width:100%;
    height:46%;
    margin:0px;
    box-shadow: 0px 0px 25px rgb(170, 170, 173);
    border-radius:35px 35px 35px 35px;
    overflow:hidden;
}

.Activites-IlesDuFrioul   /* Figure IlesDuFrioul */ 
{
    width:100%;
    height:32%;
    margin:0px;
    box-shadow: 0px 0px 25px rgb(170, 170, 173);
    border-radius:35px 35px 35px 35px;
    overflow:hidden;
}

.Activites-ParcNationalDesCalanques   /* Figure ParcNationalDesCalanques  */ 
{
    width:100%;
    height:85%;
    margin:0px;
    box-shadow: 0px 0px 25px rgb(170, 170, 173);
    border-radius:35px 35px 35px 35px;
    overflow:hidden;
}

.Activites-NotreDameDeLaGarde   /* Figure NotreDameDeLaGarde */ 
{
    width:100%;
    height:46%;
    margin:0px;
    box-shadow: 0px 0px 25px rgb(170, 170, 173);
    border-radius:35px 35px 35px 35px;
    overflow:hidden;
}
.Activites-ParcLongchamp     /* Figure ParcLongChamp */ 
{
    width:100%;
    height:37%;
    margin:0px;
    box-shadow: 0px 0px 25px rgb(170, 170, 173);
    border-radius:35px 35px 35px 35px;
    overflow:hidden;
}

#ActivitesaMarseille .Activites-VieuxPort, .Activites-ParcNationalDesCalanques img    /* image ParcNationalDesCalanques et VieuxPort */ 
{
    width:100%;
    height:87%;
}
#ActivitesaMarseille .Activites-FortDePomegues img     /* image FortDePomegues  */ 
{
    width:100%;
    height:77%;
}
#ActivitesaMarseille .Activites-IlesDuFrioul img      /* image Ile Du Frioul */ 
{
    width:100%;
    height:67%;
}
#ActivitesaMarseille .Activites-NotreDameDeLaGarde img    /* image NotreDameDeLaGarde*/ 
{
    width:100%;
    height:58%;
}
#ActivitesaMarseille .Activites-ParcLongchamp img     /* image ParcLongChamp */ 
{
    width:100%;
    height:78%;
}
p
{
    color:black;
}
h2      /* Titre h2- "hébergement à Marseille", "les plus populaires" ,"activités à Marseille" */ 
{
    width:100%;
    margin-left:40px;
    margin-top:35px;
}
h3      /* Footer :  "Titres h3 - " A propos ", "Nos hebergements ", "Assistance" */ 
{
    width:100%; 
}

#Apropos     /* Footer : Bloc "A propos " Texte aligné à gauche */
{
    text-align:left; 
}

#NosHebergements  /*  Footer : Bloc "Nos hébergements" texte aligné au centre */
{
    text-align:center;   
}

#Assistance      /*  Footer : Bloc "Assistance" texte aligné à droite */ 
{
    text-align:right;  
}
footer        /* Footer : Couleur de fond du footer + Flex */
{
    width:100%;
    height:200px;
    display:flex;
    background-color: #F2F2F2;
    position:relative;
    justify-content: space-around;
}
@media screen and (width:768px)

header
    {
        width:10%;
        height:10%;
    }
}
@media screen and (width:375px)

header
{
    width:10%;
    height:10%;
}

